In [286]:
# Pyton - интерпретируемый язык
# Переменная в Python - это ссылка на объект
# идентификатор объекта - это целое число, идентификаторы всех объектов уникальны

In [2]:
# Неизменяемые типы (при изменении меняется ID объекта):
# 1. числа
# 2. bool
# 3. tuple (кортежи)
# 4. string
# 5. frozen set

In [3]:
# Изменяемые типы (при изменении не меняется ID объекта, только при переопределении меняется):
# 1. List
# 2. Dict
# 3. Set

In [11]:
number = 4
id(number)

1538616480

In [3]:
print(type(number))

<class 'int'>

In [16]:
a = 1
b = 1
print(id(a))
print(id(b))
a is b # сравниваются идентификаторы

1542286400
1542286400

True

In [13]:
a = [1]
b = [1]
print(id(a))
print(id(b))
a is b # сравниваются идентификаторы

1551179706568
1551179706760

False

In [14]:
# конвертация типов
m = 14.6
m = int(m)
print(m)

14

In [131]:
# 3.1 * 10**3
num = 3.1e3 #вещественное число

# Комплексные числа

In [7]:
c = 2 + 3j
print(c)

(2+3j)

In [9]:
c.real

2.0

In [10]:
c.imag

3.0

In [8]:
im_unit = 0 + 1j
im_unit**2

(-1+0j)

# Операции с числами

In [12]:
# деление целочисленное
23 // 10

2

In [13]:
# остаток от деления
23 % 10

3

# Побитовые операции

In [1]:
a = 1
b = 0

y = a|b
print(y)

y = a&b
print(y)

y = a^b # xor
print(y)

1
0
1

# Перестановка

In [3]:
a = 2
b = 3

In [4]:
%%time
a, b = b, a
print(a, b)

3 2
Wall time: 0 ns

# Логические типы (bool)

In [5]:
print(type(False))

<class 'bool'>

In [6]:
bool(12)

True

In [7]:
bool(0)

False

In [8]:
x, y = True, False

In [9]:
print(x or y)

True

In [10]:
print(x and y)

False

# строки

In [28]:
stroka = "abcde"

In [29]:
stroka*3

'abcdeabcdeabcde'

In [30]:
len(stroka)

5

In [31]:
stroka < "bb" #сравнение осуществляется как в словаре

True

In [32]:
stroka[1]

'b'

In [45]:
stroka[-1]

'e'

In [33]:
stroka[1] = 'd' # в строке нельзя поменять один символ

TypeError: 'str' object does not support item assignment

In [34]:
stroka.count("bc") # сколько раз "bc" встречается в stroka

1

In [35]:
stroka.upper()

'ABCDE'

In [36]:
stroka.lower()

'abcde'

In [37]:
stroka.find("de") # индекс первого вхождения подстроки в строку, если не находит то венет -1

3

In [40]:
# заменяет подстроки, но сама строка остается не изменной, только новое значение можно передать в другую переменню
stroka2 = stroka.replace('cd','CD') 
print(stroka)
print(stroka2)

abcde
abCDe

In [41]:
dna = 'ATTCGGAGCT'

In [42]:
dna[1:4]

'TTC'

In [43]:
dna[:4]

'ATTC'

In [44]:
dna[-4:]

'AGCT'

In [47]:
dna[1:-1]

'TTCGGAGC'

In [48]:
dna[1:-1:2] # от [1;-1] с шагом 2

'TCGG'

In [49]:
dna[::-1] # строка в обратном порядке

'TCGAGGCTTA'

In [50]:
# сравнение строк
str1 = "abc"
str2="abc"
if str1==str2:
    print("=")
else:
    print("<>")

=

# IF

In [14]:
a = 5
b = 6

In [13]:
if a==6:
    print('a=6')
elif a==7:
    print('a=7')
else:
    print('a!=6 and a!=7')

a!=6 and a!=7

In [16]:
if a==6:
    print('a=6')
    if(b==6):
        print('b=6')
    else:
        print('b!=6')
elif a==7:
    print('a=7')
else:
    print('a!=6 and a!=7')

a!=6 and a!=7

# while

In [26]:
i = 0
while i<5:
    print(i)
    i += 1

0
1
2
3
4

In [27]:
i = 0
while i<5:
    print(i)
    i += 1
    if i>3:
        break

0
1
2
3

In [28]:
# break - досрочное завершение цикла
# continue - переход к следующей итерации цикла

# for

In [29]:
stroka = "hello"
for i in stroka:
    i = i.capitalize()
    print(i)

H
E
L
L
O

In [30]:
for i in range(4):
    print(i)

0
1
2
3

In [31]:
for i in range(2,4):
    print(i)

2
3

In [32]:
for i in range(2,10,3):
    print(i)

2
5
8

In [33]:
stroka = "hello"
for ind, l in enumerate(stroka):
    print(ind, l, '\n')

0 h

1 e

2 l

3 l

4 o

In [34]:
for i in [1,3,5]:
    print(i)

1
3
5

# функции

In [199]:
# Python не поддерживает перегрузку функций

In [157]:
def func1(x, y):
    return x+y

func1(2, 0.5)

2.5

In [158]:
type(func1) # функция - это тоже объект

function

In [179]:
# любое кол-во аргументов (пример №1)
# *a - поместит праметры в tuple

def func2(*a): 
    sum = 0
    for i in a:
        sum=sum+i
    return sum

func2(1,2,3,4)

10

In [180]:
# любое кол-во аргументов (пример №2)
# *a - поместит праметры в tuple

def func2_1(x,y,*a): 
    sum = x+y
    for i in a:
        sum=sum+i
    return sum

func2_1(1,2,3,4)

10

In [176]:
def func3(x, y, z = 5): # параметру z дали дефолтное значение, аргументы по умолчанию должны идти после 'без default'
    print('x = ',x,' y = ',y,' z = ',z)
    
func3(1,2,3)
func3(1,2)

x =  1  y =  2  z =  3
x =  1  y =  2  z =  5

In [165]:
func3(z = 9, x = 7, y = 8) # если при вызове метода прописывать названия параметров, то их порядок неважен

x =  7  y =  8  z =  9

In [172]:
# передача параметров в фукцию в виде списка
list_arg= [4,5,6]
func3(*list_arg)

x =  4  y =  5  z =  6

In [173]:
# передача параметров в фукцию в виде set(множества)
set_arg = {1, 2}
func3(*set_arg)

x =  1  y =  2  z =  5

In [167]:
def func4(xs):
    xs.append(0)
    
# a - это список и в функцию мы передаем ссылку на этот список => a и xs ссылаются на одну ячейку памяти
a = [1,2,3]
func4(a)
print(a)

[1, 2, 3, 0]

In [78]:
def func5(xs):
    xs.append(4)
    xs = [100]

# мы переопределили xs, т.е связали с другой ячейкой памяти (не с a)
a = [1,2,3]
func5(a)
print(a)

[1, 2, 3, 4]

In [82]:
glob1 = 1
def func6():
    print(glob1) # глобальная переменная

func6()

1

In [85]:
glob2 = 1
def func7():
    glob2=2 # теперь это локальная переменная
    print(glob2)

func7()
print(glob2)

2
1

== рекурсивные функции ==

In [198]:
# 1 1 2 3 5 8 13 - числа Фибоначи (складываются 2 предыдущих) 

def fib(x):
    if x==0 or x==1:
        return 1
    else:
        return fib(x-1) + fib(x-2)

for i in range(10):
    print(fib(i))

1
1
2
3
5
8
13
21
34
55

# List (списки)

In [93]:
sp1 = ['Ivanov', 'Petrov', 'Sidorov', 'Kuznetsov', 'Bukin']

In [94]:
for i in sp1:
    print(i)

Ivanov
Petrov
Sidorov
Kuznetsov
Bukin

In [95]:
for ind, znach in enumerate(sp1):
    print('ind = ', ind, 'znach = ',znach)

ind =  0 znach =  Ivanov
ind =  1 znach =  Petrov
ind =  2 znach =  Sidorov
ind =  3 znach =  Kuznetsov
ind =  4 znach =  Bukin

In [96]:
len(sp1)

5

In [97]:
sp1[1]

'Petrov'

In [98]:
sp1[-1]

'Bukin'

In [99]:
sp1[2:4]

['Sidorov', 'Kuznetsov']

In [100]:
sp1[::-1]

['Bukin', 'Kuznetsov', 'Sidorov', 'Petrov', 'Ivanov']

== операции со списками ==

In [137]:
sp2 = ['A', 'B','C']

In [138]:
# объединение списков (исходные списки не изменяются)
sp1 + sp2

['Ivanov', 'Petrov', 'Sidorov', 'Kuznetsov', 'Bukin', 'A', 'B', 'C']

In [139]:
# изменение списков
sp2[1] = 'D'
print(sp2)

['A', 'D', 'C']

In [140]:
# добавление элементов в конец списка
sp2.append('E')
print(sp2)

['A', 'D', 'C', 'E']

In [141]:
# вставка элемента в список
sp2.insert(1, 'B')
print(sp2)

['A', 'B', 'D', 'C', 'E']

In [142]:
sp2+=['OL']
print(sp2)

['A', 'B', 'D', 'C', 'E', 'OL']

In [143]:
sp2+='OL'
print(sp2)

['A', 'B', 'D', 'C', 'E', 'OL', 'O', 'L']

In [144]:
# удаление первого подходящего элемента в списке (если элемент не будет найден, то появится ошибка)
sp2.remove('D')
print(sp2)

['A', 'B', 'C', 'E', 'OL', 'O', 'L']

In [145]:
# удаление элемента по индексу
del sp2[1]
print(sp2)

['A', 'C', 'E', 'OL', 'O', 'L']

In [146]:
# удаление элемента по индексу
sp2.pop(1)
print(sp2)

['A', 'E', 'OL', 'O', 'L']

In [147]:
# проверка наличия элемента в списке
if 'OL' in sp2:
    print('yes')
else:
    print('no')

yes

In [148]:
# проверка отсутсвия элемента в списке
if 'OL' not in sp2:
    print("doesn't contain")
else:
    print('contains')

contains

In [149]:
# index элемента в списке
ind = sp2.index('OL')
print(ind)

2

In [150]:
print(sp1)

['Ivanov', 'Petrov', 'Sidorov', 'Kuznetsov', 'Bukin']

In [153]:
# сортировка изменяющая список
sp1.sort()
print(sp1)

['Bukin', 'Ivanov', 'Kuznetsov', 'Petrov', 'Sidorov']

In [154]:
print(sp2)

['A', 'E', 'OL', 'O', 'L']

In [158]:
# сортировка не изменящая список; отсортированный результат можно присвоить новой переменной
sp3 = sorted(sp2)
print('sp2 = ', sp2)
print('sp3 = ', sp3)

sp2 =  ['A', 'E', 'OL', 'O', 'L']
sp3 =  ['A', 'E', 'L', 'O', 'OL']

In [166]:
# перевернуть список, изменив его
sp2.reverse()
print(sp2)

['L', 'O', 'OL', 'E', 'A']

In [167]:
# присвоение списков
sp_a = [1,2]
sp_b = sp_a # значит sp_a и sp_b ссылаются на одну область памяти
sp_b.append(3)
sp_a[0] = 4
print('sp_a: ', sp_a)
print('sp_b: ', sp_b)

sp_a:  [4, 2, 3]
sp_b:  [4, 2, 3]

== генерация списков ==

In [169]:
sp6 = [0]*5
print(sp6)

[0, 0, 0, 0, 0]

In [170]:
sp6 = [1 for i in range(5)]
print(sp6)

[1, 1, 1, 1, 1]

In [171]:
sp6 = [i*i for i in range(5)]
print(sp6)

[0, 1, 4, 9, 16]

In [203]:
# генерация списк из другого списка 

sp_0 = [1,2,3,4]
sp_01 = [i*i for i in sp_0]
sp_01

[1, 4, 9, 16]

In [207]:
# генерация списк с условием

sp_02 = [-2, -1, 0, 1, 2, 3, 4]
sp_03 = [i*i for i in sp_02 if i>0]
sp_03

[1, 4, 9, 16]

== двухмерные списки ==

In [172]:
sp7 = [[1,2,3], [4,5,6], [7,8,9]]
print(sp7)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [177]:
print(sp7[1])

[4, 5, 6]

In [178]:
print(sp7[1][0])

4

In [180]:
# генерация списка, способ №1
n=3
sp8 = [[1]*n for i in range(n)]
print(sp8)

[[1, 1, 1], [1, 1, 1], [1, 1, 1]]

In [190]:
# генерация списка, способ №2
sp9 = [[i+j for i in range(3)] for j in range(4)]
print(sp9)
print(sp9[3][2])

[[0, 1, 2], [1, 2, 3], [2, 3, 4], [3, 4, 5]]
5

== генерция многомерного списка с условием ==

In [212]:
sp_00 = [(x,y, z) for x in range(3) for y in range(3) for z in range(3) if x>=y and y>=z]
sp_00

[(0, 0, 0),
 (1, 0, 0),
 (1, 1, 0),
 (1, 1, 1),
 (2, 0, 0),
 (2, 1, 0),
 (2, 1, 1),
 (2, 2, 0),
 (2, 2, 1),
 (2, 2, 2)]

# Tuple (кортеж)

In [17]:
# tuple - последовательность неизменяемых объектов

In [25]:
tup1 = ()
tup2 =('physics','chemistry',1997,2000)
tup3 =(1,2,3,4,5)
tup4 ="a","b","c","d"
tup5 =(50,) # чтобы создать кортеж, содержащий только один элемент – необходимо добавлять запятую

In [28]:
tup2[2]

1997

In [31]:
tup5[0]

50

# Set (множества)

In [215]:
s1 = set()
print(s1)

set()

In [216]:
s2 = set([1,2,3])
print(s2)

{1, 2, 3}

In [217]:
# результирующее множество содержит только один из повторящихся элементов, и порядок элементов другой 
s3 = {'apple', 'ora', 'apple', 'ora', 'banana'}
print(s3)

{'banana', 'ora', 'apple'}

In [218]:
'ora' in s3

True

In [219]:
'tt' in s3

False

In [220]:
s3.add('aaa')
print(s3)

{'banana', 'aaa', 'ora', 'apple'}

In [221]:
# если элемент уже есть, то он не будет добавлен
s3.add('aaa')
print(s3)

{'banana', 'aaa', 'ora', 'apple'}

In [222]:
s3.remove('aaa')
print(s3)

{'banana', 'ora', 'apple'}

In [223]:
# если удаляемого элемента нет, то ошибка
s3.remove('noelement')

KeyError: 'noelement'

In [224]:
# если удаляемого элемента нет, то ошибки нет
s3.discard('no element')

In [225]:
# очищение множества
print(s3)
s3.clear()
print(s3)

{'banana', 'ora', 'apple'}
set()

In [231]:
# кол-во элементов в множестве
s3 = {1,3,2,0}
len(s3)

4

In [233]:
# обход множества (в множестве порядок элементов рендомален)
for i in s3:
    print(i)

0
1
2
3

In [6]:
# получение set из list
l1 = [1,2,1,3,2,4,5,5,6,7]
s1 = {x for x in l1}
print(s1)

{1, 2, 3, 4, 5, 6, 7}

# Dict (словарь)

In [269]:
# dict = {key1:value1, key2:value2,...,keyN:valueN}
# словарь изменяем
# элементы не имеют порядка
# все ключи различны
# ключи не изменяемы

In [270]:
dict1 = {}
print(dict1)
type(dict1)

{}

dict

In [271]:
dict2 = {'name':'sasha', 'age':20, 'address':'London'}
print(dict2)

{'name': 'sasha', 'age': 20, 'address': 'London'}

In [272]:
dict2['address']

'London'

In [273]:
'address' in dict2

True

In [274]:
'nokey' in dict2

False

In [275]:
# изменение значения по ключу
dict2['address'] = 'NY'
print(dict2)

{'name': 'sasha', 'age': 20, 'address': 'NY'}

In [276]:
# получения значения по ключу (ошибка, если кдюч не найден)
dict2['nokey']

KeyError: 'nokey'

In [277]:
# получения значения по ключу (нет ошибки, если кдюч не найден)
dict2.get('nokey')

In [278]:
# удаление элемента
del dict2['age']
print(dict2)

{'name': 'sasha', 'address': 'NY'}

In [279]:
d1 = {'key1':['value1', 'value2'],
     'key2':['value3', 'value4']}
print(d1)

{'key1': ['value1', 'value2'], 'key2': ['value3', 'value4']}

In [280]:
# объединение словарей
d2 = {'x1':'y1', 'x2':'y2'}
d3 = {'x3':'y3'}
d2.update(d3)
print(d2)
d2.update({'x4':'y4'})
print(d2)

{'x1': 'y1', 'x2': 'y2', 'x3': 'y3'}
{'x1': 'y1', 'x2': 'y2', 'x3': 'y3', 'x4': 'y4'}

== перебор элементов словаря ==

In [281]:
dict4 = {'key1':'value1', 'key2':'value2', 'key3':'value3', 'key4':'value4','key5':'value5'}

In [282]:
for k in dict4:
    print(k)

key1
key2
key3
key4
key5

In [283]:
for k in dict4.keys():
    print(k)

key1
key2
key3
key4
key5

In [284]:
for v in dict4.values():
    print(v)

value1
value2
value3
value4
value5

In [285]:
for k,v in dict4.items():
    print(k,' : ', v)

key1  :  value1
key2  :  value2
key3  :  value3
key4  :  value4
key5  :  value5

# ZIP

In [110]:
a = [1,2]
b = [3,4]
c = [5,6]

In [111]:
list(zip(a,b,c))

[(1, 3, 5), (2, 4, 6)]

In [112]:
set(zip(a,b,c))

{(1, 3, 5), (2, 4, 6)}

In [123]:
for x,y,z in zip(a,b,c):
    print('* ',x,y,z)

*  1 3 5
*  2 4 6

In [124]:
zip1 = zip(a,b,c)
print(id(zip1))
print(zip1)
print(list(zip1))
print(set(zip1))
print(list(zip1))
print(zip1)
print(id(zip1))

1551180466312
<zip object at 0x00000169298F8888>
[(1, 3, 5), (2, 4, 6)]
set()
[]
<zip object at 0x00000169298F8888>
1551180466312

In [125]:
# если происходит слияние 2ух списков, то можно результат слияния приобразовать в Dict
dict(zip(a,b,))

{1: 3, 2: 4}

In [126]:
# когда происходит слияние списков разных длинн, то слияние происходит по длинне минимального списка
list(zip([1,2], [3,4,5]))

[(1, 3), (2, 4)]

# None

In [139]:
# None - это объект, функция, которая не имеет return или пустой return - возвращает None (пример print())

In [140]:
type(None)

NoneType

In [153]:
x = 2
y = None

In [154]:
# только так можно проверить на None

x is None

False

In [155]:
y is None

True